.container {
	display: grid;
	justify-content: space-evenly;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 4fr 1fr;
	width: 600px;
	box-shadow: 0 0 5px rgba(119, 133, 172, 0.7);
	margin-bottom: 10px;
}

.imageDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	margin: 10px;
	max-height: 100px;
	max-width: 100px;
}

.infoDiv h3 {
	margin: 10px;
}

.title {
	word-wrap: break-word;
}

.adjustDiv {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.adjustDiv > * {
	margin: 10px;
}

.adjustDiv p {
	font-size: 1.1rem;
}

.priceDiv p {
	font-weight: 600;
	font-size: 1rem;
	margin: 10px;
}

.totalDiv h4 {
	margin: 10px;
	vertical-align: top;
}

/* Buttons below */
.quantity {
	display: flex;
	justify-content: center;
	align-items: center;
}

.addMinus {
	border: none;
	background-color: #7785ac;
	color: #fafefb;
	box-shadow: 0 0 1px 2px #7785ac;
}

.addMinus:active {
	box-shadow: 0 0 1px 1px #7785ac;
}

.inputQuantity {
	text-align: center;
	width: 20px;
}

.addMinus,
.inputQuantity {
	padding: 2px 4px;
	font-size: 0.8rem;
}

/* Chrome, Safari, Edge, Opera */
.inputQuantity::-webkit-outer-spin-button,
.inputQuantity::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.inputQuantity[type='number'] {
	-moz-appearance: textfield;
}

.delete {
	font-size: 0.8rem;
	border: none;
	background-color: #89a6b9;
	color: #fafefb;
	padding: 2px 4px;
	box-shadow: 0 0 1px 2px #7785ac;
}

.delete:active {
	background-color: #7785ac;
	box-shadow: 0 0 1px 1px #7785ac;
}

/* Buttons above */

@media (max-width: 700px) {
	.container {
		width: 80vw;
		margin: 0 10px 10px 10px;
	}
}

@media (max-width: 475px) {
	.container {
		width: 80vw;
		margin: 0 10px 10px 10px;
	}

	.adjustDiv {
		flex-wrap: wrap;
	}

	.adjustDiv > * {
		margin: 5px;
	}

	.priceDiv p {
		font-size: 0.9rem;
		font-weight: 500;
		margin: 0px;
	}

	.title {
		font-size: 1rem;
	}

	.totalDiv h4 {
		font-size: 0.9rem;
	}

	.image {
		max-height: 75px;
		max-width: 75px;
	}
}
