.item {
	position: relative;
	height: 300px;
	width: 275px;
	/* border: 2px solid #360568; */
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(54, 5, 104, 0.7);
}

.image {
	padding-top: 20px;
	max-height: 150px;
	max-width: 150px;
	margin: auto 0;
}

.imageDiv {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	height: 180px;
}

.desc {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 20px;
}

.desc p {
	font-size: 1rem;
}

.bottomDesc {
	position: absolute;
	display: flex;
	align-items: center;
	top: 260px;
}

.bottomDesc p {
	font-size: 1.3rem;
}

.bottomDesc button {
	font-size: 1rem;
	border: none;
	background-color: #57458a;
	color: #fafefb;
	padding: 5px 10px;
	box-shadow: 0 0 1px 2px #67659b;
}

.bottomDesc button:active {
	background-color: #67659b;
	box-shadow: 0 0 1px 1px #57458a;
}

.bottomDesc > * {
	margin: 0px;
	margin: 0 20px;
}
