.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.itemGrid {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
	.itemGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.itemGrid {
		grid-template-columns: repeat(1, 1fr);
	}
}
