.cartDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sectionDiv {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.checkout {
	font-size: 1.2rem;
	border: none;
	background-color: #0f52ba;
	color: #fafefb;
	padding: 6px 12px;
	box-shadow: 0 0 1px 2px #326fbd;
}

.checkout:active {
	background-color: #326fbd;
	box-shadow: 0 0 1px 1px #326fbd;
}

.totalDiv {
	margin-left: 20px;
	box-shadow: 0 0 5px rgba(119, 133, 172, 0.7);
	height: 130px;
	width: 250px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media (max-width: 900px) {
	.sectionDiv {
		align-items: center;
		flex-direction: column;
	}
	.totalDiv {
		margin-left: 0;
	}
}
