.cartDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sectionDiv {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.table {
	min-width: 80vw;
	max-width: 95vw;
}

.checkout {
	font-size: 1.2rem;
	border: none;
	background-color: #0f52ba;
	color: #fafefb;
	padding: 6px 12px;
	box-shadow: 0 0 1px 2px #326fbd;
}

.checkout:active {
	background-color: #326fbd;
	box-shadow: 0 0 1px 1px #326fbd;
}

.totalDiv {
	margin-left: 20px;
	box-shadow: 0 0 5px rgba(119, 133, 172, 0.7);
	padding: 5px 20px 25px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
