.cartDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.table {
	min-width: 80vw;
	max-width: 95vw;
}

.checkout {
	font-size: 1.2rem;
	border: none;
	background-color: #013220;
	color: #fafefb;
	padding: 6px 12px;
	box-shadow: 0 0 1px 2px #013220;
}

.checkout:active {
	background-color: #3a7156;
	box-shadow: 0 0 1px 1px #3a7156;
}

.totalDiv {
	margin-top: 20px;
	box-shadow: 0 0 5px rgba(54, 5, 104, 0.7);
	padding: 5px 20px 25px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
