.header {
	width: 100%;
	background-color: #360568;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.icon {
	background-color: #3a7156;
	font-size: 2.85rem;
	color: #fafefb;
	border-radius: 5px;
	padding: 5px 20px;
	margin: 10px 0px;
}

.navi {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.home {
	background-color: #164934;
	margin-right: 10px;
	border-radius: 5px;
	padding: 0 10px;
}

.home:active {
	background-color: #3a7156;
	box-shadow: 0 0 1px 0px white;
}

.link {
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 5px 10px;
}

.header p {
	color: #fafefb;
	font-size: 1.3rem;
	margin: 5px;
}

.cart {
	display: flex;
	align-items: center;
	background-color: #3a7156;
	border-radius: 5px;
}

.cart:active {
	background-color: #558f6f;
	box-shadow: 0 0 1px 0px white;
}

.span {
	font-size: 1.3rem;
	padding-top: 3px;
	text-align: center;
	background-color: #5b2a86;
	color: #fafefb;
	border-radius: 5px;
	width: 30px;
	height: 30px;
}
